@model SampleWidgetApplication.Models.ContactFormViewModel
<form method="post" widget-form>
    <div class="form-group">
        <label asp-for="Name" />
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email" />
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit">Send</button>
    </div>
</form>